/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  padding: 0.5em;
}

.title {
  margin-right: 1em;
  min-width: 33%;
}

.input {
  padding: 8px 16px;
  width: 80%;
  border-radius: 16px;
  background-color: #f5f8fa;
  border: 1px solid #f5f8fa;
}

.input:hover,
.input:focus-within {
  border: 1px solid lightsteelblue;
}

.input__field {
  width: 56vw;
  font-size: 1rem;
  outline: 0;
  margin-right: 16px;
  border: 1px solid transparent;
  background-color: #f5f8fa;
}

.input__icon {
  width: 100%;
  color: gray;
}

.input__icon:hover {
  cursor: pointer;
  color: black;
} */
