.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  /* height: 2rem;
  padding: 0.5em; */
}

.title {
  flex: 1 1 33%;
  /* margin-right: 1em; */
  /* font-family: 'Verdana, Geneva, Tahoma, sans-serif'; */
  min-width: 33%;
}

.input {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  /* width: 80%; */
  border-radius: 16px;
  background-color: #f5f8fa;
  border: 1px solid #f5f8fa;
}

.input:hover,
.input:focus-within {
  border: 1px solid lightsteelblue;
}

.input__field {
  flex: 1 1 95%;
  font-size: 1rem;
  outline: 0;
  width: 100%;
  border: 1px solid transparent;
  background-color: #f5f8fa;
}

.input__icon {
  flex: 1 1 5%;
  width: 100%;
  color: gray;
}

.input__icon:hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    flex: 1 1 100%;
    /* margin-right: 1em; */
    /* font-family: 'Verdana, Geneva, Tahoma, sans-serif'; */
    width: 100%;
  }

  .input {
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: 95%;
    border-radius: 16px;
    background-color: #f5f8fa;
    border: 1px solid #f5f8fa;
  }
}
